<?php
	$GLOBALS['DB_HOST'] = '';
	$GLOBALS['DB_NAME'] = '';
	$GLOBALS['DB_USER'] = '';
	$GLOBALS['DB_PASSWORD'] = '';
	
	$GLOBALS['Salt'] = "";//Соль
	$GLOBALS['tBotToken'] = "";//Токен телеграм бота
	$GLOBALS['RootDir'] = $_SERVER['DOCUMENT_ROOT'];
	$GLOBALS['MailHost'] ='';
	$GLOBALS['MailUser'] ='';
	$GLOBALS['MailPass'] ='';
	$GLOBALS['Email'] ='';	
	$GLOBALS['recaptchaSite'] ='';
	$GLOBALS['recaptchaSecret'] ='';
	$GLOBALS['gaCode'] =''; //код Google analytics
	//test
?>
